body {
	padding: 0;
	margin: 0;
	background: #222;
	font-family: sans;
	color: #666;
}

#goo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#box2d-debug {
	width: 600px;
	height: 400px;
	top: 0;
	left: 0;
	background: #400;
	position: absolute;
}

.text {
	margin-left: 25%;
	margin-right: 25%;
	font-size: 2em;
	text-align: center;
	position: absolute;
	top: 0;
}

#start-button {
	display: none;
	font-size: 2em;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}

#success {
	display: none;
}

#time {
	color: #ff8888;
	font-weight: bold;
}

#spots-left {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
}

h1 {
	font-size: 1em;
}
h2 {
	font-size: .5em;
}