<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= @item[:title] or @site.config[:title] %></title>
  <% if @item[:description] %>
    <meta name="description" content="<%= @item[:description] %>">
  <% end %>
  <% if @site.config[:author] %>
    <meta name="author" content="<%= @site.config[:author] %>">
  <% end %>

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/resources/font/stylesheet.css">

  <script src="lib/underscore-min.js"></script>
  <script src="lib/Box2dWeb-2.1.a.3.min.js"></script>

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script>window.html5 || document.write('<script src="js/libs/html5.js"><\/script>')</script>
  <![endif]-->
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <%= yield %>
	<div id="spots-left"></div>
	<div class="text" id="instructions">
		<h1>Cleaner Bot</h1>
		<h2>A game by Martin Vilcans</h2>
		<h2>Made in 48 hours for Ludum Dare 26</h2>
		<p>
			I had the perfect apartment.
			Light and airy, it reflected my personality.
			No fluff, just 220 square meters of clean and simple Scandinavian design.
		</p>
		<p>
			But I also had a Jack Russell terrier, all white.
			I always make sure he only eats ecological low-carb food,
			but I must have made a mistake,
			and now there's puke all over the apartment.
			There's no way I can spend a second there.
		</p>
		<p>
			I'm lucky to have a remote controlled cleaning bot and surveillance cameras.
			I can control the bot with the WASD keys. The cameras switch automatically by motion detection.
		</p>
		<p>Click Start when loading has finished...</p>
		<p><button id="start-button">Start</button></p>
	</div>

	<div class="text" id="success">
		<h1>I made it!</h1>
		<p>Time: <span id="time-result"></span></p>
		<p>Now I can go on with my perfect life.</p>
		<h2><a href="">Replay</a></h2>
	</div>
<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
-->

</body>
</html>
